
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>About This Data</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/theme.css" rel="stylesheet">
  </head>

  <body role="document">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li  class="active"><a href="about">About This Data Set</a></li>
	    <li><a href="quality">Data Quality</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container theme-showcase" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
	<h1>Accountability: About This Data Set</h1>
      </div>
    <div class="page-header">
    <h2>Dataset Overview</h2>
            <p>The dataset used for this analysis was collected from my personal mobile phone using the AWARE Framework. The start date for the data is 01-27-2017, we don't have an end date as the data is still being generated, which means that the graphs generated are all up to date.

            The dataset records data into 7 different tables:
            <ul>
            <li><span style="font-weight:bold;">Accelerometer</span>: records measures from the accelerometer sensor in my phone.</li>
            <li><span style="font-weight:bold;">Linear_Accelerometer</span>: records measures from the accelerometer sensor in my phone.</li>
            <li><span style="font-weight:bold;">Locations</span>: records the longitude and latitude along with the timestamp using the GPS sensor.</li>
            <li><span style="font-weight:bold;">Locations_Visit</span>: similar to Locations but also gives the street address of the coordinates.</li>
            <li><span style="font-weight:bold;">Plugin_google_activity_recognition</span>: records the activity that I'm performing: Walking, Running, Still, and In-Vehicle.</li>
            <li><span style="font-weight:bold;">Plugin_ios_activity_recognition</span>: similar to the previous table but generated by the iPhone.</li>
            <li><span style="font-weight:bold;">Plugin_openweather</span>: records the weather for the location where I'm at. The refresh rate is once per hour.</li>
            </ul>

            Out of these 7 tables, I ended up using only the Locations_Visit, Plugin_gogle_activity_recognition, and the Plugin_OpenWeather.

        </p>

      <div class="page-header">
	<h2>Where did this data come from?</h2>
	<p>The dataset was collected on my mobile phone using the AWARE framework, which is automatically uploaded to Google Cloud SQL at least once per day. AWARE uses the sensors in my phone to record the data.</p>
      </div>
      
      <div class="page-header">
	<h2>Who has access to it?</h2>
	<p>The access is very restricted. Only this website, which is connected to the cloud platform, the AWARE platform, and myself from a couple authorized IP addresses (defined on the Cloud SQL authorized users) are able to access the data. Potential unauthorized access is minimal considering Google Privacy Policies.</p>
      </div>


    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/docs.min.js"></script>
  </body>
</html>
