
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>About This Data</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/theme.css" rel="stylesheet">
  </head>

  <body role="document">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li  class="active"><a href="about">About This Data Set</a></li>
	    <li><a href="quality">Data Quality</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container theme-showcase" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
	<h1>Accountability: About This Data Set</h1>
      </div>
    <div class="page-header">
    <h2>Dataset Overview</h2>
            <p>The original dataset contains 13 columns, representing the name of the character, house of allegiance, information about his introduction to the series, information about their death (if they are dead), and information on which book they appeared.

            In order to obtain the graphs showed, a preprocessing step was necessary and was done using the pandas library of Python on the Google Cloud DataLab. The seaborn library was used for the plots.

            The preprocessing step consisted of 4 parts:
            <ul>
            <li> Convert missing values strings to NaN.</li>
            <li> Create a new column that represents the chapter based on the same referencial timeline, instead of relative to books.</li>
            <li> Clean the Allegiance column, as some rows contained the prefix "House " and some didn't. It was decided to eliminate this prefix.</li>
            <li> Convert the labels for Gender from binary to the names "Male" and "Female" for easier analysis.</li>
            </ul>

        </p>

      <div class="page-header">
	<h2>Where did this data come from?</h2>
	<p>For this analysis we use the following dataset available on Kaggle that was imported into Google Fusion Tables: https://www.kaggle.com/mylesoneill/game-of-thrones</p>
      </div>
      
      <div class="page-header">
	<h2>Who has access to it?</h2>
	<p>The access is public, and anyone can use the dataset for educational and recreational purposes.</p>
      </div>


    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/docs.min.js"></script>
  </body>
</html>
