
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>Mobile Byte - jdiner</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/theme.css" rel="stylesheet">

<!-- Vega-lite visualization libraries -->
    <script src="//d3js.org/d3.v3.min.js"></script>
    <script src="//vega.github.io/vega/vega.js"></script>
    <script src="//vega.github.io/vega-lite/vega-lite.js"></script>
    <script src="//vega.github.io/vega-editor/vendor/vega-embed.js" charset="utf-8"></script>
    
    <style media="screen">
   /* Add space between vega-embed links  */
    .vega-actions a {
      margin-right: 5px;
    }
    </style>

  </head>

  <body role="document">

        <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li  class="active"><a href="about">About This Data Set</a></li>
      <li><a href="quality">Data Quality</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container theme-showcase" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
	<h1>Daily Routine Data Analysis</h1>
        <p>In this page, I will perform a thorough analysis of my daily routine with data obtained
        using my personal mobile device. The analysis will focus on 3 points:
        <ul>- Activity analysis by weekday and hour</ul>
        <ul>- Does weather affect my commute time?</ul>
        <ul>- Does the time left until class affect my commute time?</ul></p>
      </div>

   <h2>Activity analysis by weekday and hour</h2>


   <div class="page-header">
	<p> When I first started this byte, I wanted to get an overview of how much time I spend every day
  performing various activities. This way, I'm able to get feedback on my daily activity and make
  corresponding changes to live a healthier life.</p>


 <center><div id="vis3"></div></center>
      <center><div class="btn-group">
         
        <button type="button" class = "btn-space btn btn-info" id = "walk" onclick="walking()">
        Walking
        </button> 
        <button type="button" class = "btn-space btn btn-info" id = "run" onclick="running()">
        Running
        </button> 
        <button type="button" class = "btn-space btn btn-info" id = "still"  onclick="still()">
          Still
        </button> 
        <button type="button" class = "btn-space btn btn-info" id = "vehic"  onclick="vehicle()">
           Vehicle
        </button>
      </div></center>

  <p> In the interactive graph above, we can see how much time I spent walking, running, standing still, and being on a vehicle by time of day and day of the week. This data is pulled directly to the database, so it is up to date.</p>

  <h3>Walking</h3>


<p> We can see in the data that, as expected:
<ul>- I rarely walk before 8:00am on the weekdays while sometimes I walk on Saturday and Sunday mornings after going out.</ul>
<ul>- We see that the time frame where I walk the most is from 9:00am to 9:00pm, which is very consistent with the time I'm active.</ul>
<ul>- On Fridays nights I walk more than any other day of the week, which is an expected result as I usually go out to eat.</ul></p>

  <h3>Running</h3>


<p> The data from running does not seem as accurate as the one for walking. There could be two possible reasons for this:</p>
<ul>- When I walk fast, the system records it as running, or</ul>
<ul>- The sensor is not well calibrated and we are receiving noisy data.</ul>

<p>Either way, because I have the knowledge of how often I run, I can identify that the data is not correct. This could be a problem if I'm analyzing the data of another person, as I would believe that they run more often than they do.</p>

  <h3>Still</h3>

<p> There are some really interesting insights from this dataset. To make sense of this data, it is useful to point out my weekly schedule:</p>
<ul>- Mondays: 1:30pm-3:00pm</ul>
<ul>- Tuesdays: 9:00am-9:00pm</ul>
<ul>- Wednesdays: 1:30pm-3:00pm</ul>
<ul>- Thursdays: 9:00am-6:00pm</ul>
<ul>- Fridays: 3:00pm-6:00pm</ul>

<p>We can see form the data that I'm mostly still during these EXACT intervals. This makes me believe that the data is correct for the still measurement and it would be useful further analysis.</p>

  <h3>In Vehicle</h3>


<p> Similar to the running data, the datapoints doesn't make much sense, as it appears than I'm in a vehicle at almost the same time as I'm standing still. This leads me to believe that the system is successful at recording data when the speed is less than a threshold (walking, still), while it fails at higher speeds (running, in-vehicle).</p>

   <h2>Does the weather affect my commute time?</h2>


   <p>I like to optimize processes and understand the conditions that may affect the outcome. I was curious if the weather influenced the time that it takes me to get from my home to the university, as I walk to campus almost every day. The basis for this hypothesis is that I thought that maybe I walk faster on colder days to stay warm.

   The following graph shows this relationship. The bars correspond to the time in minutes that took me to get to the university, and the points represent the temperature reported on that date. The x axis corresponds to the date. The weather information was obtained using the openweather API and integrated to the AWARE platform.</p>

    <center><div id="vis"></div></center>

    <p>We can see that there is a slight correlation between time and weather, as both have a positive slope. This difference is barely noticeable and, because we have a very small amount of data points, we can't confirm that this is statistically significant and therefore that weather affects (or not) my total commute time.</p>

<h2>Does the time until class affect my commute time?</h2>


   <p>I usually work better under pressure, and commute is no different. Sometimes I get relaxed if I leave my house early and enjoy the walk to campus, while sometimes I'm late and have to speed up to get to class. I want to test if there is indeed a difference in commute time based on the time that I have left until my class starts.

  The following graph shows this relationship. The y-axis corresponds to the time in minutes that took me to get to the university, and the x-axis represents the difference between my departure time and the time my class starts. The color is proportional to the time until class, and helps visualize this measurement.
   </p>

    <center><div id="vis2"></div></center>

    <p> The first thing that stands out from this graph is the red bar on the left. It is red because I left my house after my class started. The reason it is so small is that I took the bus that day. Besides that, we can see that there is clearly a trend where the time left until class is proportional to the time it takes me to get to campus from my house.

    The difference appears to be statistically significant, and confirms my hypothesis that it takes me longer to get to campus if I have more time until my class starts.</p>
    




      </div> <!-- /page-header -->
    </div> <!-- /container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/docs.min.js"></script>
  </body>

  <script>
   // Assign the specification to a local variable vlSpec.
   var vlSpec = {

    "layers": [

     {"data": {
       "values": [
    {% for row in queries[0].results %}
        {"date": "{{row[0]}}", "count": "{{row[1]}}", "temperature": "{{row[2]}}"},
    {% endfor %}
    ]
     },
      "mark": "bar",
    "encoding": {
    "x": {
      "field": "date",
      "type": "nominal",
      "axis": {"title": "Date"},
      "sort": false
    },
    "y": {
      "field": "count",
      "type": "quantitative",
      "axis": {"title": "Time from Home to University (minutes)"}
    }
  }
},
{"data": {
       "values": [
    {% for row in queries[0].results %}
        {"date": "{{row[0]}}", "count": "{{row[1]}}", "temperature": "{{row[2]}}"},
    {% endfor %}
    ]
     },
       "mark": "point",
  "encoding": {
    "x": {
      "field": "date",
      "type": "nominal",
      "axis": {
        "title": "Date"
      },
      "sort": false
    },
    "y": {
      "field": "temperature",
      "type": "quantitative",
      "axis": { "title": "Temperature (Fahrenheit)"}
    }
  }
}],
"resolve":{
 "y": {"scale": "independent"}
}};
 
   var embedSpec = {
     mode: "vega-lite",  // Instruct Vega-Embed to use the Vega-Lite compiler
     spec: vlSpec
     // You can add more vega-embed configuration properties here.
     // See https://github.com/vega/vega/wiki/Embed-Vega-Web-Components#configuration-propeties for more information.
   };
 
   // Embed the visualization in the container with id `vis`
   vg.embed("#vis", embedSpec, function(error, result) {
     // Callback receiving the View instance and parsed Vega spec
     // result.view is the View, which resides under the '#vis' element
   });
  </script>


  <script>
   // Assign the specification to a local variable vlSpec.
   var vlSpec2 = {
     "data": {
       "values": [
    {% for row in queries[1].results %}
        {"date": "{{row[0]}}", "count": "{{row[1]}}", "Time to Class": "{{row[2]}}"},
    {% endfor %}
    ]
     },
       "mark": "bar",
  "encoding": {
    "x": {
      "field": "Time to Class",
      "type": "nominal",
      "axis": {
        "title": "Time to Class (minutes)"
      }
    },
    "y": {
      "field": "count",
      "aggregate": "mean",
      "type": "quantitative",
      "axis": {
        "title": "Time from Home to University (minutes)"
      }
    },
    "color": {
      "field": "Time to Class",
      "type": "quantitative",
      "scale": {
        "domain": [
          20,
          0,
          -5
        ],
        "range": [
          "#2b8cbe",
          "#E0E0E0",
          "#F03B20"
        ]
      },
      "legend":false
    }
     }
   };
 
   var embedSpec = {
     mode: "vega-lite",  // Instruct Vega-Embed to use the Vega-Lite compiler
     spec: vlSpec2
     // You can add more vega-embed configuration properties here.
     // See https://github.com/vega/vega/wiki/Embed-Vega-Web-Components#configuration-propeties for more information.
   };
 
   // Embed the visualization in the container with id `vis`
   vg.embed("#vis2", embedSpec, function(error, result) {
     // Callback receiving the View instance and parsed Vega spec
     // result.view is the View, which resides under the '#vis' element
   });

    var vlSpec_walk = {
     "data": {
       "values": [
    {% for row in queries[2].results %}
        {"Day of Week": "{{row[0]}}", "Hour": "{{row[1]}}", "count": "{{row[2]}}"},
    {% endfor %}
    ]
     },
       "mark": "circle",
  "encoding": {
     "y": {
      "field": "Day of Week",
      "type": "nominal",
      "sort": false
    },
    "x": {
      "field": "Hour",
      "type": "nominal",
      "sort": false
    },
    "size": {
      "field": "count",
      "type": "quantitative",
    }
     }
   };

       var vlSpec_still = {
     "data": {
       "values": [
    {% for row in queries[3].results %}
        {"Day of Week": "{{row[0]}}", "Hour": "{{row[1]}}", "count": "{{row[2]}}"},
    {% endfor %}
    ]
     },
       "mark": "circle",
  "encoding": {
     "y": {
      "field": "Day of Week",
      "type": "nominal",
      "sort": false
    },
    "x": {
      "field": "Hour",
      "type": "nominal",
      "sort": false
    },
    "size": {
      "field": "count",
      "type": "quantitative",
    }
     }
   };

       var vlSpec_run = {
     "data": {
       "values": [
    {% for row in queries[4].results %}
        {"Day of Week": "{{row[0]}}", "Hour": "{{row[1]}}", "count": "{{row[2]}}"},
    {% endfor %}
    ]
     },
       "mark": "circle",
  "encoding": {
     "y": {
      "field": "Day of Week",
      "type": "nominal",
      "sort": false
    },
    "x": {
      "field": "Hour",
      "type": "nominal",
      "sort": false
    },
    "size": {
      "field": "count",
      "type": "quantitative",
    }
     }
   };

       var vlSpec_vehicle = {
     "data": {
       "values": [
    {% for row in queries[5].results %}
        {"Day of Week": "{{row[0]}}", "Hour": "{{row[1]}}", "count": "{{row[2]}}"},
    {% endfor %}
    ]
     },
       "mark": "circle",
  "encoding": {
     "y": {
      "field": "Day of Week",
      "type": "nominal",
      "sort": false
    },
    "x": {
      "field": "Hour",
      "type": "nominal",
      "sort": false
    },
    "size": {
      "field": "count",
      "type": "quantitative",
    }
     }
   };

  walking()

function walking(){
    var embedSpec = {
     mode: "vega-lite",  // Instruct Vega-Embed to use the Vega-Lite compiler
     spec: vlSpec_walk
     // You can add more vega-embed configuration properties here.
     // See https://github.com/vega/vega/wiki/Embed-Vega-Web-Components#configuration-propeties for more information.
   };
 
   // Embed the visualization in the container with id `vis`
   vg.embed("#vis3", embedSpec, function(error, result) {
     // Callback receiving the View instance and parsed Vega spec
     // result.view is the View, which resides under the '#vis' element
   });
   return false;
}

function running(){
    var embedSpec = {
     mode: "vega-lite",  // Instruct Vega-Embed to use the Vega-Lite compiler
     spec: vlSpec_run
     // You can add more vega-embed configuration properties here.
     // See https://github.com/vega/vega/wiki/Embed-Vega-Web-Components#configuration-propeties for more information.
   };
 
   // Embed the visualization in the container with id `vis`
   vg.embed("#vis3", embedSpec, function(error, result) {
     // Callback receiving the View instance and parsed Vega spec
     // result.view is the View, which resides under the '#vis' element
   });
   return false;
}

function still(){
    var embedSpec = {
     mode: "vega-lite",  // Instruct Vega-Embed to use the Vega-Lite compiler
     spec: vlSpec_still
     // You can add more vega-embed configuration properties here.
     // See https://github.com/vega/vega/wiki/Embed-Vega-Web-Components#configuration-propeties for more information.
   };
 
   // Embed the visualization in the container with id `vis`
   vg.embed("#vis3", embedSpec, function(error, result) {
     // Callback receiving the View instance and parsed Vega spec
     // result.view is the View, which resides under the '#vis' element
   });
   return false;
}

function vehicle(){
    var embedSpec = {
     mode: "vega-lite",  // Instruct Vega-Embed to use the Vega-Lite compiler
     spec: vlSpec_vehicle
     // You can add more vega-embed configuration properties here.
     // See https://github.com/vega/vega/wiki/Embed-Vega-Web-Components#configuration-propeties for more information.
   };
 
   // Embed the visualization in the container with id `vis`
   vg.embed("#vis3", embedSpec, function(error, result) {
     // Callback receiving the View instance and parsed Vega spec
     // result.view is the View, which resides under the '#vis' element
   });
   return false;
}



</script>


</html>
