
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>Mobile Byte Tutorial</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/theme.css" rel="stylesheet">

<!-- Vega-lite visualization libraries -->
    <script src="//d3js.org/d3.v3.min.js"></script>
    <script src="//vega.github.io/vega/vega.js"></script>
    <script src="//vega.github.io/vega-lite/vega-lite.js"></script>
    <script src="//vega.github.io/vega-editor/vendor/vega-embed.js" charset="utf-8"></script>
    
    <style media="screen">
   /* Add space between vega-embed links  */
    .vega-actions a {
      margin-right: 5px;
    }
    </style>

  </head>

  <body role="document">

        <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
	    <li><a href="quality">Data Quality</a></li>
      <li><a href="about">About the Data</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container theme-showcase" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
	<h1>Data Pipeline Project Mobile Byte Example</h1>
        <p>This is the Mobile Byte of the Data Pipeline class.</p>
      </div>

   <h2>Query Results</h2>
   <ul>
   {% for item in queries %}
   <li>Query: {{item.query}}<br>
       {% for row in item.results %}
          {{row}}<br>
       {% endfor %}
   </li>
   {% endfor %}


   <div class="page-header">
	<p> You should add information here, including some tables
	and/or charts, telling the reader about the relationship
	  between time and activity in your data.</p>

	<p> You should also add information here, including some tables
	and/or charts, telling the reader about the relationship
	between time and location in your data.</p>

 <center><div id="vis3"></div></center>
      <center><div class="btn-group">
         
        <button type="button" class = "btn-space btn btn-info" id = "walk" onclick="walking()">
        Walking
        </button> 
        <button type="button" class = "btn-space btn btn-info" id = "run" onclick="running()">
        Running
        </button> 
        <button type="button" class = "btn-space btn btn-info" id = "still"  onclick="still()">
          Still
        </button> 
        <button type="button" class = "btn-space btn btn-info" id = "vehic"  onclick="vehicle()">
           Vehicle
        </button>
      </div></center>

<p> You should also add information here, including some tables
  and/or charts, telling the reader about the relationship
  between time and location in your data.</p>

    <center><div id="vis"></div></center>

    <p> You should also add information here, including some tables
  and/or charts, telling the reader about the relationship
  between time and location in your data.</p>

    <center><div id="vis2"></div></center>

    <p> You should also add information here, including some tables
  and/or charts, telling the reader about the relationship
  between time and location in your data.</p>
    




      </div> <!-- /page-header -->
    </div> <!-- /container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/docs.min.js"></script>
  </body>

  <script>
   // Assign the specification to a local variable vlSpec.
   var vlSpec = {

    "layers": [

     {"data": {
       "values": [
    {% for row in queries[0].results %}
        {"date": "{{row[0]}}", "count": "{{row[1]}}", "temperature": "{{row[2]}}"},
    {% endfor %}
    ]
     },
      "mark": "bar",
    "encoding": {
    "x": {
      "field": "date",
      "type": "nominal",
      "axis": {"title": "Date"},
      "sort": false
    },
    "y": {
      "field": "count",
      "type": "quantitative",
      "axis": {"title": "Time from Home to University (minutes)"}
    }
  }
},
{"data": {
       "values": [
    {% for row in queries[0].results %}
        {"date": "{{row[0]}}", "count": "{{row[1]}}", "temperature": "{{row[2]}}"},
    {% endfor %}
    ]
     },
       "mark": "point",
  "encoding": {
    "x": {
      "field": "date",
      "type": "nominal",
      "axis": {
        "title": "Date"
      },
      "sort": false
    },
    "y": {
      "field": "temperature",
      "type": "quantitative",
      "axis": { "title": "Temperature (Fahrenheit)"}
    }
  }
}],
"resolve":{
 "y": {"scale": "independent"}
}};
 
   var embedSpec = {
     mode: "vega-lite",  // Instruct Vega-Embed to use the Vega-Lite compiler
     spec: vlSpec
     // You can add more vega-embed configuration properties here.
     // See https://github.com/vega/vega/wiki/Embed-Vega-Web-Components#configuration-propeties for more information.
   };
 
   // Embed the visualization in the container with id `vis`
   vg.embed("#vis", embedSpec, function(error, result) {
     // Callback receiving the View instance and parsed Vega spec
     // result.view is the View, which resides under the '#vis' element
   });
  </script>


  <script>
   // Assign the specification to a local variable vlSpec.
   var vlSpec2 = {
     "data": {
       "values": [
    {% for row in queries[1].results %}
        {"date": "{{row[0]}}", "count": "{{row[1]}}", "Time to Class": "{{row[2]}}"},
    {% endfor %}
    ]
     },
       "mark": "bar",
  "encoding": {
    "x": {
      "field": "Time to Class",
      "type": "nominal",
      "axis": {
        "title": "Time to Class (minutes)"
      }
    },
    "y": {
      "field": "count",
      "aggregate": "mean",
      "type": "quantitative",
      "axis": {
        "title": "Time from Home to University (minutes)"
      }
    },
    "color": {
      "field": "Time to Class",
      "type": "quantitative",
      "scale": {
        "domain": [
          20,
          0,
          -5
        ],
        "range": [
          "#2b8cbe",
          "#E0E0E0",
          "#F03B20"
        ]
      },
      "legend":false
    }
     }
   };
 
   var embedSpec = {
     mode: "vega-lite",  // Instruct Vega-Embed to use the Vega-Lite compiler
     spec: vlSpec2
     // You can add more vega-embed configuration properties here.
     // See https://github.com/vega/vega/wiki/Embed-Vega-Web-Components#configuration-propeties for more information.
   };
 
   // Embed the visualization in the container with id `vis`
   vg.embed("#vis2", embedSpec, function(error, result) {
     // Callback receiving the View instance and parsed Vega spec
     // result.view is the View, which resides under the '#vis' element
   });

    var vlSpec_walk = {
     "data": {
       "values": [
    {% for row in queries[2].results %}
        {"Day of Week": "{{row[0]}}", "Hour": "{{row[1]}}", "count": "{{row[2]}}"},
    {% endfor %}
    ]
     },
       "mark": "circle",
  "encoding": {
     "y": {
      "field": "Day of Week",
      "type": "nominal",
      "sort": false
    },
    "x": {
      "field": "Hour",
      "type": "nominal",
      "sort": false
    },
    "size": {
      "field": "count",
      "type": "quantitative",
    }
     }
   };

       var vlSpec_still = {
     "data": {
       "values": [
    {% for row in queries[3].results %}
        {"Day of Week": "{{row[0]}}", "Hour": "{{row[1]}}", "count": "{{row[2]}}"},
    {% endfor %}
    ]
     },
       "mark": "circle",
  "encoding": {
     "y": {
      "field": "Day of Week",
      "type": "nominal",
      "sort": false
    },
    "x": {
      "field": "Hour",
      "type": "nominal",
      "sort": false
    },
    "size": {
      "field": "count",
      "type": "quantitative",
    }
     }
   };

       var vlSpec_run = {
     "data": {
       "values": [
    {% for row in queries[4].results %}
        {"Day of Week": "{{row[0]}}", "Hour": "{{row[1]}}", "count": "{{row[2]}}"},
    {% endfor %}
    ]
     },
       "mark": "circle",
  "encoding": {
     "y": {
      "field": "Day of Week",
      "type": "nominal",
      "sort": false
    },
    "x": {
      "field": "Hour",
      "type": "nominal",
      "sort": false
    },
    "size": {
      "field": "count",
      "type": "quantitative",
    }
     }
   };

       var vlSpec_vehicle = {
     "data": {
       "values": [
    {% for row in queries[5].results %}
        {"Day of Week": "{{row[0]}}", "Hour": "{{row[1]}}", "count": "{{row[2]}}"},
    {% endfor %}
    ]
     },
       "mark": "circle",
  "encoding": {
     "y": {
      "field": "Day of Week",
      "type": "nominal",
      "sort": false
    },
    "x": {
      "field": "Hour",
      "type": "nominal",
      "sort": false
    },
    "size": {
      "field": "count",
      "type": "quantitative",
    }
     }
   };

  walking()

function walking(){
    var embedSpec = {
     mode: "vega-lite",  // Instruct Vega-Embed to use the Vega-Lite compiler
     spec: vlSpec_walk
     // You can add more vega-embed configuration properties here.
     // See https://github.com/vega/vega/wiki/Embed-Vega-Web-Components#configuration-propeties for more information.
   };
 
   // Embed the visualization in the container with id `vis`
   vg.embed("#vis3", embedSpec, function(error, result) {
     // Callback receiving the View instance and parsed Vega spec
     // result.view is the View, which resides under the '#vis' element
   });
   return false;
}

function running(){
    var embedSpec = {
     mode: "vega-lite",  // Instruct Vega-Embed to use the Vega-Lite compiler
     spec: vlSpec_run
     // You can add more vega-embed configuration properties here.
     // See https://github.com/vega/vega/wiki/Embed-Vega-Web-Components#configuration-propeties for more information.
   };
 
   // Embed the visualization in the container with id `vis`
   vg.embed("#vis3", embedSpec, function(error, result) {
     // Callback receiving the View instance and parsed Vega spec
     // result.view is the View, which resides under the '#vis' element
   });
   return false;
}

function still(){
    var embedSpec = {
     mode: "vega-lite",  // Instruct Vega-Embed to use the Vega-Lite compiler
     spec: vlSpec_still
     // You can add more vega-embed configuration properties here.
     // See https://github.com/vega/vega/wiki/Embed-Vega-Web-Components#configuration-propeties for more information.
   };
 
   // Embed the visualization in the container with id `vis`
   vg.embed("#vis3", embedSpec, function(error, result) {
     // Callback receiving the View instance and parsed Vega spec
     // result.view is the View, which resides under the '#vis' element
   });
   return false;
}

function vehicle(){
    var embedSpec = {
     mode: "vega-lite",  // Instruct Vega-Embed to use the Vega-Lite compiler
     spec: vlSpec_vehicle
     // You can add more vega-embed configuration properties here.
     // See https://github.com/vega/vega/wiki/Embed-Vega-Web-Components#configuration-propeties for more information.
   };
 
   // Embed the visualization in the container with id `vis`
   vg.embed("#vis3", embedSpec, function(error, result) {
     // Callback receiving the View instance and parsed Vega spec
     // result.view is the View, which resides under the '#vis' element
   });
   return false;
}



</script>


</html>
